@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #624bca31;
}

section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: blueviolet;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover{
    background: #e265ae9c;
}

@keyframes animate-outline {
    from{
        outline: 0px solid #c086d69c  ;
    }
    to{
        outline: 15px solid #c086d69c;
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn):after{
    content: "";
    background-color: rgb(23, 60, 179);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after{
    width: 100%;
}

nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 150px;
    padding: 0 90px;
    text-align: center;
}

.banner .banner-text h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
}

.banner .banner-text p{
    font-size: 20px;
    color: rgb(187, 187, 187);
    margin: 18px 0;
}

.bant{
    background: #0000009c;
}

.faca-mais .container{
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text{
    width: 80%;
    padding: 0 50px;
}

.faca-mais .faca-mais-text h3{
    font-size: 45px;
}

.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;   
}

.faca-mais .faca-mais-img{
    width: 50%;
}

.faca-mais .faca-mais-img img{
    width: 100%;
}

.CEO h3{
    text-align: center;
}

.CEO p{
    text-align: center;
    margin: 20px;
}

.card{
    display: flex;
    justify-content: center;
}

.CEO .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.CEO .card-item img{
    border-radius: 100px;
    width: 150px;
    display: block;
    margin: 10px auto;
}

.CEO .card-item .nome-user{
     font-weight: 600;
     font-size: 20px;
     margin-bottom: 15px;
     transition: 0.3s;
}

.CEO .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    
}

.CEO .card-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #71767a23;
}

.CEO .card-item .estrelas i{
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.CEO .card-item:hover{
    background-color: #4f9cf9;
    margin-top: -5px;
}

.CEO .card-item:hover .nome-user,
.CEO .card-item:hover .depoimento-user,
.CEO .card-item:hover .estrelas i{
    color: white;
}

.footer{
    text-align: center;
    background-color: #4f9cf9;
}

.footer p{
    margin-top: 10px;
    color: white;
}

.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text{
    width: 50%;
    padding-right: 40px;
}

.sobre .sobre-img{
    width: 50%;
}

.sobre .sobre-img img{
    width: 100%;
    border-radius: 10px;
}

.sobre .sobre-text p{
    margin: 18px 0;
    color: #000000a6;
}

@media(max-width: 830px){
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .menu-icon{
        display: block;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }

     /*home responsivo*/

.faca-mais .faca-mais-text{
    margin-top: 10px;
    padding: 0 20px;
    order: 1;
}

.faca-mais .container{
    flex-direction: column;
}

.faca-mais .faca-mais-text h3{
    font-size: 48px;
}

.faca-mais .faca-mais-text,
.faca-mais .faca-mais-img{
    width: 100%;
}

/* banner responsivo*/

.banner .banner-text{
    padding: 0;
    margin: 80px;
}

.banner .banner-text h1{
    font-size: 80px;
}

.banner .banner-text p{
    font-size: 15px;
}
}
